<div class="panel panel-body panel-default">
    <div class="page-header">
        <h1>Malas Practicas <small>AngularJs</small></h1>
    </div>
    <div class="panel panel-primary col-md-6">
        <div class="panel-heading">
            Formulario
        </div>
        <div class="panel-body">
            <form>
              <fieldset class="form-group">
                <label>Nombre </label>
                <input type="text" class="form-control" placeholder="Aquí Nombre" ng-model="malasPracticas.nuevo_item.nombre" required>
                <small class="text-muted">El nombre debe ser especifico.</small>
              </fieldset>
              <fieldset class="form-group">
                <label>Precio </label>
                <input type="number" class="form-control" placeholder="Aquí Precio" ng-model="malasPracticas.nuevo_item.precio" required>
              </fieldset>
              <fieldset class="form-group">
                <label>Categoria </label>
                <select class="form-control" ng-model="malasPracticas.nuevo_item.categoria" ng-options="c as c.nombre for c in malasPracticas.categorias" required>
                  <option value="">Seleccionar item</option>
                </select>
              </fieldset>

              <fieldset class="form-group">
                <label>Descripción </label>
                <textarea class="form-control" rows="3" ng-model="malasPracticas.nuevo_item.descripcion"></textarea>
              </fieldset>

              <fieldset ng-if="ver_descuento">
                  <label>Descuento</label>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-value="{{15}}" ng-model="malasPracticas.nuevo_item.descuento">
                      15%
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" ng-value="{{10}}" ng-model="malasPracticas.nuevo_item.descuento" >
                      10%
                    </label>
                  </div>
              </fieldset>

              <center><button class="btn btn-primary" ng-click="malasPracticas.agregar_item()">Crear</button>
              <button class="btn btn-primary" ng-if="malasPracticas.actualizar">actualizar</button></center>
            </form>
        </div>



    </div>

    <div class="col-md-6">
        <lista-items item="my_item"/>
        <label>Item info:</label>
        <div class="panel panel-primary panel-body">
            <div ng-bind-html="template_item"></div>
        </div>
    </div>

</div>
